.btn-subscribe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;

  position: relative;
  width: 150px;
  min-width: 150px;
  height: 34px;
  left: calc(50% - 150px / 2 - 0.5px);

  background: #736df9;
  border-radius: 5px;
  border: none;
  color: white;
  margin-bottom: 20px;
}

.sub-section {
  width: stretch;
  height: auto;
  background-color: #30288f;
  color: white;
  margin-top: -25px;
  padding: 50px;
}

.img-footer {
  /* image 21 */

  position: relative;
  width: stretch;
  height: auto;
  left: 0px;
  top: 0px;
}
